.footer-wrp {
  padding: 30px;
  background-color: #4d7b89;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.f-link-wrp {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right-wrp {
  flex: 1;
}
