@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

#root {
  font-family: "Play", sans-serif;
  scroll-behavior: smooth;
  /* this is strech the body tag the width and height of browser a.k.a browser */
  /* height: 100vh;
  width: 100vw; */
}
body {
  padding: 0;
  margin: 0;
}
