* {
  font-family: "IBM Plex Sans", sans-serif;
}
.nav-bar {
  background-color: #4d7b89;
  display: flex;
  justify-content: space-between;
  border: #4d7b89 solid 1px;
  align-items: center;
}
.img-div {
}
img {
  display: block;
}
.link-div {
}
.link-wrapper {
  padding-right: 10px;
}
.nav-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  color: #def399;
  margin-left: 10px;
}
.nav-link:hover {
  background-color: #4574a8;
}
